body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ff6d01;
    color: #fff;
    text-align: center;
    padding-bottom: 0.5em; 
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff9900;
}

main {
    padding: 2em;
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
} 

form input, form select {
    width: 100%;
    padding: 0.5em;
    margin-top: 5px;
}

button {
    padding: 0.5em 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #ff9900;
}

.slideshow {
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slideshow img {
    width: 100%;  /* Svaka slika zauzima 100% širine svog roditeljskog elementa */
    height: auto;  /* Visina slika se automatski prilagođava proporcijama slike */
    flex-shrink: 0;  /* Sprečava smanjivanje slika kada se koristi flexbox */
    animation: slide 15s infinite;  /* Pokreće animaciju koja traje 15 sekundi i ponavlja se beskonačno */
}

@keyframes slide {
    0%, 100% { transform: translateX(0%); }  /* Početak i kraj animacije – slike ostaju na mestu */
    20% { transform: translateX(-100%); }  /* U 20% vremena animacije, pomeramo slike za 100% ulevo */
    40% { transform: translateX(-200%); }  /* U 40% vremena animacije, pomeramo slike za 200% ulevo */
}

/* Email error message */
#error-message {
    color: red;  /* Boja teksta greške je crvena */
    font-size: 0.9em;  /* Veličina fonta greške je 0.9em */
    display: none;  /* Početno je poruka greške skrivena */
    margin-top: 5px;  /* Razmak od 5px između greške i prethodnog elementa */
}

/* Checkbox i Radio dugmadi sa njihovim labelama u istom redu */
fieldset {
    margin: 10px 0;  /* Razmak od 10px sa gornje i donje strane fieldset-a */
}

/* Postavljanje checkbox-ova i radio dugmadi u isti red sa labelama */
fieldset label {
    display: inline-flex;  /* Koristi inline-flex za horizontalno poređivanje dugmadi i labela */
    align-items: center;  /* Poravnava dugme i labelu vertikalno */
    margin-right: 20px;  /* Razmak od 20px između checkbox-a/radio dugmeta i sledećeg elementa */
}

fieldset input {
    margin-right: 5px;  /* Razmak od 5px između dugmadi i njihovih labela */
}
